.inline{
 background-color: red;
 padding-right: 50px;
}
.block{
 display: inline;
}
.in-bl{
 background-color: yellow;
 display: inline-block;
 height: 100px;
 padding : 30px;
}
.hidden{
 display: none;
}