table thead, tfoot{
 background-color:rgb(54, 53, 53);
 color: white;
}
tbody tr:nth-child(even){

    background-color: lightyellow;

}
/* tbody:nth-child(-n+3) {
    border: 2px solid orange;
    margin-bottom: 1px;
} */
tbody tr td:hover{
 background-color: rgb(211, 9, 9);
    color: green;
}
button:first-child::before{
    font: var(--fa-font-solid);
      margin-right: 10px;
    content:"\f07a";
  
}
button:last-child::before{
    font: var(--fa-font-solid);
    margin-right: 10px;
    content:"\f09d";
}

button:hover{
   color: rgb(231, 240, 231);
   background-color: rgb(111, 71, 255);
}
div{
 margin-left: 150px;

}
button{
   color: green;
   background-color: tomato;
}
table{
 background-color: lightgray;
}
tfoot{
 text-align: right;
}
