p{
 font-size: 30px;
 background-color: rgb(201, 85, 85);
}
h1{
  font-size: 30px;
  text-align: center;
 background-color: rgb(230, 12, 12);
}
h2{
  font-size: 30px;
  text-align: center;
 background-color: rgb(230, 12, 12);
}